/* .container{
    
    background: #584f5a;
    margin: 0;

    &__letra{
        font-size: 40px ;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        color: #fff;
        
    }

    &__parrafo{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: #000;
    }
    .search{
        width: 50px;
        @media (max-width: 768px) {
            width: 10px;
            height: 10px;
            float: left;
        }
    }

    @media (max-width: 768px) {
        margin: 10px;
    }

    .copy{
        font-size: 20px ;
        width: 50px;
        @media (max-width: 768px) {
            font-size: 10px;
            width: 10px;
            height: 10px;
        }
        

    }
} */

.container{
    
    background: #584f5a;
    margin: 0;

    &__letra{
        font-size: 40px ;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        color: #fff;
        
    }

    &__parrafo{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: #000;
    }
    .search{
        width: 50px;
        @media (max-width: 768px) {
            width: 10px;
            height: 10px;
            float: left;
        }

        @media (max-width: 576px) {
            display: none;
        }
    }

    @media (max-width: 768px) {
        margin: 10px;
    }

    .copy{
        font-size: 20px ;
        width: 50px;
        @media (max-width: 768px) {
            font-size: 10px;
            width: 10px;
            height: 10px;
        }

        @media (max-width: 576px) {
            display: none;
        }
        

    }
}