@import "~materialize-css/sass/materialize";


.page-container {
  background: #474849;
  height: 100vh;
  /* Ensure the container takes up the full viewport height */

  display: flex;
  justify-content: center;
  /* Center the card horizontally */
  align-items: center;
  /* Center the card vertically */
}

.card.container1 {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
}

.btn submarine-btn {
  align-items: center;
}

.btn submarine-btn:hover {
  background-color: #06283D;
  color: #fff;
}